*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a{text-decoration: none;}
html, body{
    height: 100%;
}

                                    /*  Classes Auxiliares  */
.center{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}
.clear{clear: both;}
.w33{width: 33.3%;}
.w50{width: 50%;}

                                        /*  Site  */

                                        /*  Header  */
header{
    padding: 8px 0;
}
.logo{
    float: left;
}
.logo a{
    color: black;
    font-size: 22px;
    font-weight: normal;
}
.menu-desktop{
    position: relative;
    top: 6px;
    float: right;
}
.menu-desktop ul{list-style: none;}
.menu-desktop li.selected a{font-weight: normal;}
.menu-desktop li{
    display: inline-block;
    margin-left: 15px;
}
.menu-desktop a:hover{text-decoration: underline}
.menu-desktop a{
    color: black;
    font-size: 16px;
    font-weight: lighter;
}
.menu-mobile{display: none;}

                                        /*  Section - Banner  */
 main.banner{
    position: relative;
    width: 100%;
    padding: 140px 0 200px;
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main.banner > .center{
    position: relative;
    z-index: 2;
}
main.banner .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    z-index: 1;
}
main.banner h2{
    text-align: center;
    color: #52aaa7;
    font-size: 35px;
    font-weight: normal;
}
main.banner p:not(:last-child){margin-bottom: 15px;}
main.banner p{
    color: white;
}

                            /*  Section - UX (Experiencia do Usuário) */
section.ux{
    text-align: center;
    padding: 30px 0;
}
section.ux .center > div:first-child{
    border-bottom: 3px solid #52aaa7;
    position: relative;
    left: 50%;
    transform: translate(-138%);
}
section.ux .center > h1{
    color: #52aaa7;
}
.wrapper-ux{
    display: flex;
    padding: 20px 0 10px 0;
    text-align: center;
    color: #8a6b62;;
}
.ux-single i{
    font-size: 35px;
    margin-bottom: 15px;
}
.ux-single p{color: black;}

                                /*  Section - Call To Action */
section.cta{padding: 15px 0; background: #52aaa7;}
section.cta > .center{display: flex;}
section.cta .call h2{
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 23px;
    padding: 10px;
}
section.cta input[type=email]{
    width: 85%;
    height: 40px;
    border: 0;
    padding-left: 10px;
    line-height: 10px;
}
section.cta input[type=email]:focus,
section.cta input[type=submit]:focus{outline: 0;}
section.cta input[type=submit]{
    cursor: pointer;
    width: 15%;
    height: 43px;
    background: #1d6c64;
    color: white;
    border: 0;
    border-bottom: 3px solid #20a194;
}
section.cta input[type=submit]:hover{
    background: #1b4f4a;
}

section.cta span{
    color: red;
    padding: 3px;
    font-size: 15px;
    display: block;
}
                                /*  Section - Portifólio */
.portifolio{
    padding: 30px 0;
}
section.portifolio .center > div:first-child{
    border-bottom: 3px solid #52aaa7;
    position: relative;
    left: 50%;
    transform: translate(-75%);
}
section.portifolio .center > h1{
    margin-bottom: 20px;
    text-align: center;
    color: #52aaa7;
}
.port-wrapper{
    display: flex;
}
.img{
    max-width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.img img{
    width: 100%;
    max-height: 200px;
}
.port-single{
    text-align: center;
    padding: 0 20px;
}
.port-single h2{
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}
.port-single p{
    font-size: 15px;
    font-weight: lighter;
    text-align: left;
}
                                /*  Section - Sobre - Equipe */
section.team{padding: 20px 0;}
section.team > .center{display: flex;}
                                    /*   Responsivo   */
@media screen and (max-width:768px){
    /* Header */
    .center > .logo{display: none;}
    .menu-mobile .logo a{
        color: black;
        font-size: 22px;
        font-weight: normal;
    }
    .menu-desktop{display: none;}
    .menu-mobile{display: block;}
    .menu-mobile h2{
        cursor: pointer;
        float: right;
        font-size: 21px;
    }
    .menu.mobile ul{display: none; list-style: none;}
    .menu-mobile li{
        cursor: pointer;
        display: inline-block;
        text-align: center;
        position: relative;
        top: 30px;
        left: -2%;
        width: 104%;
        padding: 5px 0;
        border: 1px solid #ccc;
        background-color: #eee;
    }
    .menu-mobile li.selected{background: rgb(220, 220, 220)}
    .menu.mobile a{
        color: black;
        text-decoration: none;
    }

    /* Section - UX */
    .wrapper-ux{
        flex-wrap: wrap;
    }
    .ux-single{
        margin-bottom: 25px;
    }
        /* Portifólio */
    .port-wrapper{
        flex-wrap: wrap;
        text-align: center;
    }
    .port-single{margin-bottom: 30px;}
    .w33{width: 100%;}
    /* CTA */
    section.cta > .center{flex-wrap: wrap;}
    .w50{width: 100%; margin-bottom: 10px;}
}